@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.header {
  background: v.$dark;
  position: relative;
  width: 100%;
  //   Praise

  .top-nav {
    background: v.$dark;
    padding: 14px 0;
    border-bottom: 1px solid #ffffff2f;
    .cat {
      color: v.$light;
      font-size: 18px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 7px;
    }
    .social-icons {
      @include m.d-flex(center, center, nowrap, 10px);

      a {
        display: inline-block;
        @include m.icons(v.$dark-alt, v.$light);
      }
    }
  }

  .navbar {
    background: v.$dark;

    .logo {
      display: block;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 35px 0 20px 0;
      border-bottom: 1px solid #ffffff2f;
      position: relative;

      .ms-ico {
        position: absolute;
        background: v.$primary;
        color: v.$dark;
        font-weight: 500;
        padding: 10px 12px;
        border-radius: 50px;
        top: 7%;
        right: 32%;
        transform: translateX(-30%) rotate(5deg);

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          height: 15px;
          width: 15px;
          left: 18px;
          transform: rotate(-42deg);
          background: v.$primary;
        }
      }

      h2 {
        font-family: v.$cursive;
        color: v.$light;
        letter-spacing: 2px;
        margin-bottom: 4px;
        font-size: 70px;

        span {
          color: v.$primary;
          margin-right: 10px;
        }
      }
      h6 {
        font-size: 16px;
        font-weight: 400;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: -40px;
          height: 2px;
          width: 30px;
          background: v.$primary;
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -40px;
          height: 2px;
          width: 30px;
          background: v.$primary;
        }
      }
    }

    .nav-links {
      padding: 15px 0;
      border-bottom: 1px solid #ffffff2f;

      ul {
        display: flex;
        justify-content: start;
        gap: 24px;
        li {
          a {
            font-size: 16px;
            font-weight: 500;
            color: v.$light;
            // text-transform: uppercase;
          }
        }
      }

      .search {
        position: relative;
        .icon {
          height: 100%;
          width: 40px;
          color: v.$light;
          background: v.$primary;
          position: absolute;
          top: 0;
          right: 0;
          @include m.d-flex(center, center, nowrap, 0);
        }
      }
    }
  }
}
