@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.hero {
  position: relative;
  .slider1 {
    position: relative;
    .image {
      height: 600px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 30px;
      h2 {
        font-size: 28px;
        font-family: v.$sans-serif-alt;
        color: v.$light;
        font-weight: 600;
        display: block;
        padding-bottom: 10px;
        border-bottom: 1px solid v.$primary;
      }
      h5 {
        font-size: 18px;
        margin-bottom: 10px;
        color: v.$primary;
      }
    }
  }
  .slider2 {
    position: relative;
    .slick-slide {
      position: relative;
      padding: 10px;
      .image {
        height: 200px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        h2 {
          font-size: 20px;
          font-family: v.$sans-serif-alt;
          color: v.$light;
          font-weight: 600;
          display: block;
          padding-bottom: 10px;
        }
      }
    }
  }
}

.tabsection {
  .react-tabs__tab-list {
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;

    .react-tabs__tab {
      position: relative;
      padding: 14px 20px;
      cursor: pointer;
      border-radius: 0 !important;
      border: 1px solid v.$light;
      margin: 15px;
      color: v.$light-alt;

      &--selected {
        background: v.$primary;
        color: v.$dark-alt;
        border-color: v.$primary;
      }
    }
  }

  .react-tabs__tab-panel {
    .card {
      .image {
        height: 380px;
        width: 200%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .text {
        padding: 30px;
        h2 {
          color: v.$light;
          font-weight: bold;
          font-family: v.$sans-serif-alt;
        }
        .image-profile {
          gap: 15px;
          .img {
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;

            img {
              @include m.img;
            }
          }
          .text-pr {
            h4 {
              font-size: 17px;
              color: v.$light;
              font-weight: 600;

              span {
                font-style: italic;
                font-weight: 400;
                color: v.$light-alt;
              }
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
    .side-card {
      .image {
        height: 100px;
        width: 100px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .text {
        padding: 20px;
        h2 {
          color: v.$light;
          font-weight: bold;
          font-family: v.$sans-serif-alt;
        }
      }
    }
  }

  .react-tabs__tab:focus:after {
    display: none;
  }
}

.comment {
  display: inline-block;
  color: #b4b4b4;
  cursor: pointer;
}
