.login {
  .heading {
    margin-bottom: 10px;
  }
  .image {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .card {
    padding: 45px 35px;

    .form {
      .rem {
        gap: 10px;
        label {
          margin-left: 10px;
        }
      }
    }
  }
}
