@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.form-control,
.form-select {
  display: block;
  //   border-radius: 4px;
  width: 100%;
  border: 1px solid v.$dark-alt;
  background: v.$dark-alt;
  color: v.$light-alt;
  font-family: v.$sans-serif;
  padding: 1rem 1.5rem;
  font-size: 16px;
  border: 1px solid v.$dark-alt;

  &:focus {
    border-color: v.$primary;
  }
}
